<div class="bg-about">
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center pt-5">
        <h1 class="text-light text-uppercase">about component</h1>
        <div class="d-flex align-items-center justify-content-center mt-4">
                <div class="line mx-2"></div>
                <i class="fa-solid fa-star mx-1 text-light"></i>
                <div class="line mx-2"></div>
        </div>
        <div class="row w-75 text-start m-auto gx-3 mt-3 text-light">
          <div class="col-12 col-md-6 pt-4 pt-md-0">
            <div>
              <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
          </div>
          <div class="col-12 col-md-6 pt-4 pt-md-0">
            <div>
              <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
